*, html, body{
    padding:0;
    margin: 0;
    scroll-behavior: smooth;
}

    /*element.style{
        padding:14px;
        white-space: nowrap;
        
    }
    
    .Eqh {
        flex:0 0 auto;
    }
    
    .mQ8{
        justify-content: center;
    }
    
    .KS5{
        align-items: center;
    }
    
    .Hsu{
        box-sizing: border-box;
    }
    
    .Jea{
        display: flex;
        flex-direction: row;
    }
    
    .tg7{
        text-align: center;
    }
    
    .H2s{
        font-weight: 600;
        font-weight: var(--font-weight-semibold);
    }
    
    .iFc {
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ Pro W3,Hiragino Kaku Gothic Pro,ãƒ¡ã‚¤ãƒªã‚ª,Meiryo,ï¼­ï¼³ ï¼°ã‚´ã‚·ãƒƒã‚¯,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
        font-family: var(--font-family-default-latin);
    }
    
    .sAJ {
        font-size: 16px;
        font-size: var(--font-size-300);
    }
    
    .dyH {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
    
    .O2T {
        color: #111;
        color: var(--color-text-default);
    } */  


/* nav{
    height: 10vh;
    width: 100%;
    background-color: rgb(114, 92, 135);
    
    
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    width: 100%;
}

.tulisan{
    display: flex;
    font-size: 1,5em;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25%;
    color: aliceblue;
    flex-grow: 0;
flex-shrink: 0;
flex-basis: auto;
box-sizing: border-box;
background-color: rgb(26, 41, 36);
} */
.akhir{
    display: flex;
	max-width: 1170px;
	justify-content: space-between;
    flex-direction: row;
}


ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
.max-width: 767px{
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
.max-width: 574px{
  .footer-col{
    width: 100%;
}
}





